@model string
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body form-horizontal">
                <img src="@Model" />
            </div>
        </div>
    </div>
