version: '2.1'

services:
  exbook:
    container_name: 'exbook-app'
    image: "docker.pkg.github.com/somft/se-project/ex-book:${VERSION:-latest}"
    build:
      context: .
      dockerfile: src/ExBook/Dockerfile
    ports:
      - "127.0.0.1:8091:80"
    volumes:
      - ./appsettings.api.json:/app/appsettings.Production.json
      - ./files:/app/files