
<style>


    div.container {
        height: 10em;
        position: relative
    }

    div.container p {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
    }

</style>

<div class="container">
    <p>An authentication e-mail has been sent. Check your mailbox to continue.</p>
</div>

