<div class=" jumbotron">
    <h>Welcome on our Ex-Book site!</h>
    <p class="lead"> This website is an online library where you can borrow books, find books that interest you and much more</p>
</div>
<br />
<a href="/users">All users</a>
@*<a href="/wishlist">Your wishlist</a>
    <a href="/useraccount">User information</a>
    <a href="/search">Search</a>*@
<br />

<!---contacts-->
<div class=" container-fluid padding">
    <div class="row-text-center padding">
        <div class="col-12">
            <h2>Connect</h2>

        </div>
        <div class="col-12 social padding">
            <a href="facebook.com/dziekankiaeii/"><i class="fab fa-facebook"></i></a>
            <a href="youtube.com/c/HRejterzy/"><i class="fab fa-youtube"></i></a>
            <a href="instagram.com/iansomerhalder/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

</div>

<!---Ending of the page-->
<footer>
    <div class="container-fluid padding">
        <div class="row-text-center">
            <div class="col-md-4">
                <img src="~/logo2.png" />
                <hr class="light">
                <p>669-519-178</p>
                <p>Gliwice, Akademicka 16</p>
                <p>Poland</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our staff</h5>
                <hr class="light">
                <p>Bartłomiej Piura</p>
                <p>Bartosz Groffik</p>
                <p>Paweł Szafraniec</p>
                <p>Łukasz Kwiecień</p>
                <p>Oliwia Mlonek</p>
                <p>Emilia Gosiewska</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our service hours</h5>
                <hr class="light">
                <p>Monday-Friday: 8:00-16:00</p>
                <p>Saturday: 8:00-13:00</p>
                <p>Sunday: Unfortunately, our phone service isn't available</p>

            </div>
            <div class="col-12">
                <hr class="light">
                <h5>&copy: ex-book.piura.pl</h5>
            </div>
        </div>
    </div>
</footer>